.labelContainer {
    margin-top: 4px;
    background-color: hsl(var(--b3));
    border-radius: 0.125rem; /* 6px */
}

.nodeLabel {
    font-size: 25%;
    text-align: center;
    word-break: break-word;
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
}

.cameraIcon {
   width: 60%;
   aspect-ratio: 1/1;
}