.square {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.nodeLabel {
    font-size: 50%;
}

.trapezoid {
    border-bottom: 10px solid red;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    width: 40px;
}