/* sk edited but not working */
/* add to css file */
input.inputBox {
  font-size: 20px;
  padding: 5px 20px 10px 20px;
  border-radius: 10px;
  border: 4px solid #666;
  width: 300px;
}

.calendarWrap {
  display: inline-block;
  position: relative;
}

.calendarElement {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
}